.top-header {
    background-color: #000;
    height: 50px !important;
}

.th-text {
    color: #fff;
    line-height: 50px;
}
.mob,.topscl {
    line-height: 3;
}
.mob,.topscl {
    text-align: right;
    color: #fff;
    font-size: 15px;
    margin-top: 3px;
    padding-left: 10px;
}
.topicon{padding-right: 5px;color: #dc3545;}
.topmob{padding-left: 10px;font-family: monospace;}
.topscl{text-align: left;padding-left: 10px;color: #dc3545;}

.headerf{background-color: #fff !important;}
.navbtn{font-weight: 600;padding-left: 25px;
    padding-right: 25px;}

.card-section {
    
    margin-bottom: 50px;
    background-color: #f1f1f1;
    padding-top: 50px;
    padding-bottom: 50px
}

.card-section h2{text-align: center; margin-bottom: 50px;}
.mcard{margin-bottom: 20px;}

.inrcard {
    box-sizing: border-box;
    box-shadow: 0px 3px 5px 1px;
    background: #ffffff;
}

.mcard .cardimage img {
    height: 130px;
    width: 100%;
    
}

.cardimage img{padding: 10px;}
.cardbody h4{text-align: center;}
.cardbody p{text-align: justify; padding-left: 10px;padding-right: 10px;}
.cardbtn {text-align: center;padding-bottom: 15px}

.card-title{text-align: center;}
.bimgc{width: 500px; height: 300px;}


.body-section{height: auto;max-width: 100%;margin-bottom: 50px;}
.leftimg-section{max-width: 100%;}
.leftimg{width: 800px;}
.mlauto{
    font-size: 18px;
    font-weight: 500;
    color: #000 !important;
    padding-left: 12%;
}

/* Slider Text */
.fstsldsec {
    
    text-align: left;
}
.fstsldsec h3{
    font-size: 80px;
    font-weight: 700;
    
    
}

.sndsldsec {
    text-align: center;
    margin-bottom: 20%;
    margin-top: 30%;
}
.sndsldsec h3{
    font-size: 80px;
    font-weight: 700;
}

.trdsldsec {
    text-align: right;
    margin-bottom: 20%;
    margin-top: 30%;
}
.trdsldsec h3{
    font-size: 60px;
    font-weight: 700;
}
.cardp{font-size: 18px;
    font-weight: 400;}
.cardbody h4{font-size: 1.1rem;}
.bdoffcls{text-align: center;}
.bdoffhd{font-size: 40px;font-weight: 700;}
.hmbdoffp{font-weight: 400;}
.btncls{margin-top: 20PX;margin-bottom: 20PX;}
.btnin{font-weight: 600;font-size: 16px;}

/* Footer CSS */
.footersection{margin-top: 20px; padding-top: 50px;padding-bottom: 50px;background: #d5d5d5;
background-image: url(./images/backgroudn.webp);background-repeat: no-repeat;
background-size: cover;}
.ftrcol1txt{padding-top: 20px;padding-bottom: 10px;}
.ftrulcls{list-style: none; padding-left: 0px !important;}
.ftrlicls{text-decoration: none;padding-top: 5px;padding-bottom: 5px; }
.ftrlicls a {color: #000;}
.socialtlt{ font-size: 20px;font-weight: 600;padding-top: 30px;
padding-bottom: 15px;}
.serftrtxt {text-align: center !important;font-size: 20px;font-weight: 600;}
.adrhd{font-size: 15px; font-weight: 500;color: #01107c;}
.firadr{font-weight: 500;}
.ftrcpright{background: #000; color: #fff;height: 50px;line-height: 3; text-align: center;}

.ftricon{color: #dc3545;}
.ftrsndrow{padding-top: 15px;}
.row.ftrsndrow {
    background: #fff;
    box-shadow: 0px 2px 4px 1px;
}
.ftrsndrow {
    padding-top: 15px;
    background: #196a89;
    box-shadow: 0px 12px 1px 4px #055370;
    padding-top: 25px;
    padding-bottom: 20px;
    
    
}
.row.ftrsndrow {
    background: #fff;
    box-shadow: 0px 2px 4px 1px;
    margin-top: 25px;
    padding-left: 15px;
}

p.ftrsndtxt {
    padding-top: 15px;
}
.ftrbrd{border-right: 1px solid #d9d7d7;}
p.ftrsndtxt.ftrtrdclm {
    padding-top: 37px;
}

.adrsec{display: flex;}
.usaclsp{display: none;}
.ukclsp{display: none;}